<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD in C</title>
    <script src="https://unpkg.com/htmx.org"></script>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="navbar">
        <div class="logo"></div>
        <div class="links">
            <a href="#inicio">Inicio</a>
            <a href="#list">Listar</a>
            <a href="#create">Crear</a>
            <a href="#delete">Eliminar</a>
            <a href="#update">Actualizar</a>
        </div>
    </div>

    <div class="cabecero" id="inicio">
        <h2>CRUD con HTMX + Backend C</h2>
    </div>
    <div class="container" id="list">
        <h2>Listar Elementos</h2><!--GET-->
        <button hx-get="http://localhost:8080/example" hx-target="#result" hx-swap="innerHTML">
            Cargar Contenido
        </button>
    </div>
    <div id="result"></div>
    <div class="container" id="create"><!---POST-->
        <h2>Crear Nuevo Elemento</h2>
        <form hx-post="http://localhost:8080/example" hx-target="#result" hx-swap="innerHTML" hx-ext='json-enc'>
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name" required>
            <label for="description">Descripción:</label>
            <input type="text" id="description" name="description" required>
            <button type="submit" onclick="accionPost()">Crear</button> <!--TODO: falta configurar para que las alertas se realicen solo si fueron exitosas las soliciturdes-->
        </form>            
    </div>
    <script>
        const accionPost=()=>{alert("Creado Exitosamente");}
    </script>
    <div class="container" id="delete"><!---Delete-->
        <h2>Eliminar Elemento</h2>        
        <form id="delete-form" hx-target="#result" hx-swap="innerHTML">
            <label for="delete_id">ID a Eliminar:</label>
            <input type="text" id="delete_id" name="id" required>
            <button type="submit" onclick="accionDelete()">Eliminar</button>
        </form>
    </div>
    <script>
        document.getElementById('delete-form').addEventListener('submit', function (e) {
          e.preventDefault();
          const deleteId = document.getElementById('delete_id').value;
          const url = `http://localhost:8080/example?id=${deleteId}`;
          
          htmx.ajax('DELETE', url, {
            target: "#result",
            swap: "innerHTML"
          });
          document.getElementById('delete-form').reset();

        });
        const accionDelete=()=>{
            alert("Eliminado Exitosamente")
        }
        
    </script>
        
    <div class="container" id="update">
        <h2>Actualizar Elemento</h2><!--PUT-->
        <form id="update-form">
            <label for="update_id">ID a Actualizar:</label>
            <input type="text" id="update_id" name="id" required>
            <label for="update_name">Nuevo Nombre:</label>
            <input type="text" id="update_name" name="name" required>
            <label for="update_description">Nueva Descripción:</label>
            <input type="text" id="update_description" name="description" required>
            <button type="submit" onclick="accionPut()">Actualizar</button>
        </form>            
    </div>
    
    <script>
        document.getElementById('update-form').addEventListener('submit', function (e) {
            e.preventDefault();
            const updateId = document.getElementById('update_id').value;  // Obtener el ID dinámico
            const name = document.getElementById('update_name').value;
            const description = document.getElementById('update_description').value;
            // Construir la URL de la solicitud PUT con el ID dinámico
            const url = `http://localhost:8080/example?id=${updateId}`;
            const data = {
                name: name,
                description: description
            };
            fetch(url, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data) 
            })
            .then(response => response.json()) 
            .then(data => {
                console.log('Success:', data);
                document.getElementById('result').innerHTML = 'Elemento actualizado con éxito';
            })
            .catch(error => {
                console.error('Error:', error);
                document.getElementById('result').innerHTML = 'Error al actualizar el elemento';
            });
            document.getElementById('update-form').reset();

        });
        const accionPut=()=>{
            alert("Actualizado Exitosamente")
        }
    </script>

    
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/json-enc.js"></script> <!--json post-->

</body>
</html>